In [104]:
import pandas as pd

In [105]:
artists = pd.read_csv('data/artists.csv')

In [106]:
artists

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
15238,135018,Abdoulaye Konaté,"Malian, born 1953",Malian,NaN,1953,0,NaN,NaN
15239,135032,Yolanda Lopez,"American, 1942 – 2021",American,Female,1942,2021,NaN,NaN
15240,135042,Arnt Jensen,"Danish, born 1971",Danish,Male,1971,0,NaN,NaN
15241,135111,After Sophie Taeuber-Arp,"French, born Switzerland. 1889–1943",NaN,NaN,0,0,NaN,NaN
15242,135298,William Theophilius Brown,"American, 1919–2012",American,Male,1919,2012,NaN,NaN

In [107]:
artworks = pd.read_csv('data/artworks.csv')

In [108]:
artworks

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjUyNzc3MCJd...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjUyNzM3NCJd...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjUyNzM3NSJd...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NCJd...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NSJd...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140843,"Page from Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,Page from a spiral-bound sketchbook with penci...,...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140844,"Page from Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,Page from a spiral-bound sketchbook with penci...,...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140845,"Page from Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,Page from a spiral-bound sketchbook with penci...,...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140846,"Front cover of Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,"Spiral-bound sketchbook with pencil, ballpoint...",...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140847,"Front cover (verso) of Sketchbook #24, New Yor...",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,"Spiral-bound sketchbook with pencil, ballpoint...",...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN

In [109]:
artists.Gender = artists.Gender.str.lower()
artists.Gender.unique()

array(['male', 'female', nan, 'non-binary'], dtype=object)

In [110]:
artworks.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

In [111]:
artists.columns

Index(['ConstituentID', 'DisplayName', 'ArtistBio', 'Nationality', 'Gender',
       'BeginDate', 'EndDate', 'Wiki QID', 'ULAN'],
      dtype='object')

In [112]:
artworks.DateAcquired = pd.to_datetime(artworks.DateAcquired)

In [113]:
artworks.DateAcquired.min()

Timestamp('1929-11-19 00:00:00')

In [114]:
artworks.DateAcquired.max()

Timestamp('2022-09-20 00:00:00')

In [115]:
artworks.Title.groupby(artworks.DateAcquired.dt.year).count()

DateAcquired
1929.0       9
1930.0       7
1931.0       3
1932.0      18
1933.0      93
          ...
2018.0    2499
2019.0    2284
2020.0    1655
2021.0     917
2022.0     404
Name: Title, Length: 94, dtype: int64

In [117]:
artists.ConstituentID

0             1
1             2
2             3
3             4
4             5
          ...
15238    135018
15239    135032
15240    135042
15241    135111
15242    135298
Name: ConstituentID, Length: 15243, dtype: int64

In [118]:
artworks = artworks[artworks.ConstituentID.str.contains(",") == False]

In [120]:
artworks.ConstituentID = artworks.ConstituentID.astype(int)

/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_92520/3279413765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  artworks.ConstituentID = artworks.ConstituentID.astype(int)

In [121]:
df = pd.merge(artworks, artists, on="ConstituentID")

In [122]:
df.Gender_y = df.Gender_y.str.lower()

In [123]:
df.Gender_y.unique()

array(['male', 'female', nan, 'non-binary'], dtype=object)

In [124]:
df = df[df.Gender_y.notna()]

In [125]:
df.head()

,Title,Artist,ConstituentID,ArtistBio_x,Nationality_x,BeginDate_x,EndDate_x,Gender_x,Date,Medium,...,Seat Height (cm),Duration (sec.),DisplayName,ArtistBio_y,Nationality_y,Gender_y,BeginDate_y,EndDate_y,Wiki QID,ULAN
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
1,Armchair,Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1902,Beech wood and aluminum,...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
2,Stool,Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1904,"Bent beech wood, molded plywood, and aluminum",...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
3,Railing,Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1899,Painted cast-iron,...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
4,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,NaN,Christian de Portzamparc,"French, born 1944",French,male,1944,0,Q312838,500024982.0

In [126]:
df.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio_x', 'Nationality_x',
       'BeginDate_x', 'EndDate_x', 'Gender_x', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)', 'DisplayName', 'ArtistBio_y', 'Nationality_y',
       'Gender_y', 'BeginDate_y', 'EndDate_y', 'Wiki QID', 'ULAN'],
      dtype='object')

In [127]:
ff = df[['Title','Artist','DisplayName','ConstituentID','ArtistBio_y', 'Nationality_y',
       'Gender_y', 'BeginDate_y', 'EndDate_y', 'Wiki QID', 'ULAN', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL']]

In [128]:
ff.DateAcquired = pd.to_datetime(ff.DateAcquired)

/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_92520/2471640250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ff.DateAcquired = pd.to_datetime(ff.DateAcquired)

In [129]:
gg = ff.groupby([ff.DateAcquired.dt.year, ff.Gender_y]).count()

In [130]:
gg = gg.rename_axis(['DateAcquired_yr', 'Gender'])

In [131]:
gg = gg.reset_index()

In [132]:
out = gg[['DateAcquired_yr','Gender','Title']]

In [133]:
out = out.rename(columns={"Title": "Count"})

In [97]:
out.to_csv("met/met_data.csv")

In [134]:
out

     DateAcquired_yr      Gender  Count
0             1929.0        male      9
1             1930.0        male      7
2             1931.0        male      3
3             1932.0      female      1
4             1932.0        male     16
..               ...         ...    ...
184           2020.0  non-binary      1
185           2021.0      female    468
186           2021.0        male    308
187           2022.0      female    131
188           2022.0        male    184

[189 rows x 3 columns]

In [135]:
pivoted = out.pivot(index="DateAcquired_yr", columns="Gender", values="Count")

In [102]:
pivoted.to_csv("met/met_data_shaped.csv")

In [136]:
pivoted

Gender           female    male  non-binary
DateAcquired_yr
1929.0              NaN     9.0         NaN
1930.0              NaN     7.0         NaN
1931.0              NaN     3.0         NaN
1932.0              1.0    16.0         NaN
1933.0              NaN    93.0         NaN
...                 ...     ...         ...
2018.0            912.0  1277.0         1.0
2019.0            405.0  1158.0         NaN
2020.0            153.0  1318.0         1.0
2021.0            468.0   308.0         NaN
2022.0            131.0   184.0         NaN

[94 rows x 3 columns]